@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --clr: #0f0052;
  --low-white: #ffffff8d;
  --white: #ffffff;
  --black: #000;
}
::selection {
  background-color: var(--clr);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 0.65em;
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: #3f14ff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #1d00a0;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(to bottom, #39519f, var(--clr)); */
  background: var(--clr);
  background-color: var(--clr);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 200vh;
}
header {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  z-index: 99;
  /* background-color: #003329; */
  /* padding: 20px; */
}
.navigation {
  position: relative;
  background-color: var(--white);
  width: 400px;
  height: 70px;
  /* margin: 0 auto; */
  border-radius: 10px;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.navigation ul {
  display: flex;
  list-style: none;
  width: 350px;
  /* gap: 30px; */
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  color: var(--clr);
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation ul li a .icon {
  font-size: 1.5em;
  position: relative;
  line-height: 75px;
  display: block;
  text-align: center;
  color: var(--clr);
  transition: all 0.5s ease;
}
.navigation ul li.active a .icon,
.navigation ul li:hover a .icon {
  color: var(--white);
}
/* .navigation ul li:hover a .icon {
      transform: translateY(-35px);
    } */
.navigation ul li.active a .icon,
.navigation ul li:hover a .icon {
  transform: translateY(-35px);
}

.navigation ul li a .text {
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 75px;
  color: var(--clr);
  letter-spacing: 0.05em;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}
/* .navigation ul li:hover a .text {
      opacity: 1;
      transform: translateY(0px);
    } */

.navigation ul li.active a .text,
.navigation ul li:hover a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  /* background-color: var(--clr); */
  /* background-color: #49ab97;
    background-color: var(--white); */
  background: linear-gradient(to top, #002ab6, #ffffffc7);
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: solid 5px var(--clr);
  /* transform: translateX(-50px); */
  transition: all 0.5s ease;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -13.6px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top-right-radius: 15px;
  box-shadow: 1px -2.5px 0 1px var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13.6px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-top-left-radius: 15px;
  box-shadow: -1px -2.5px 0 1px var(--clr);
}

.navigation ul li:nth-child(1):hover ~ .indicator,
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2):hover ~ .indicator,
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

/* .navigation ul li:nth-child:hover ~ .indicator,
    /* .navigation ul li:nth-child(3).active ~ .indicator {
      transform: translateX(calc(70px * 2));
    } */

.navigation ul li:nth-child(4):hover ~ .indicator,
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5):hover ~ .indicator,
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.active-logo img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 5px var(--clr);
  transform: translateY(25px);
  transition: all 0.5s ease;
}

.active-logo::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -14.75px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-bottom-right-radius: 15px;
  box-shadow: 4.5px 4.5px 0 4.5px var(--clr);
}
.active-logo::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: -14.25px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  box-shadow: -5px 5px 0 5px var(--clr);
  z-index: -1;
}

.active-logo:hover img {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(15px);
    filter: drop-shadow(0 0 10px var(--clr));
  }
  100% {
    transform: translateY(25px);
  }
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #39519f, var(--clr));
  z-index: -1;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
/* .hero #base {
  z-index: 6;
} */
.hero #text {
  position: absolute;
  color: var(--white);
  font-size: clamp(2.5rem, 7vw, 8rem);
  white-space: nowrap;
  letter-spacing: 3px;
  /* z-index: 5; */
  /* right: -850px; */
  top: -850px;
  z-index: -1;
  /* color: transparent;
  -webkit-text-stroke: 1px var(--white); */
}
/* #btn {
  font-size: 1.25rem;
  font-weight: 700;
  position: absolute;
  color: var(--white);
  text-decoration: none;
  padding: 8px 30px;
  display: inline-block;
  border: 2px solid var(--white);
  border-radius: 25px;
  background: transparent;
  z-index: 7;
  letter-spacing: 0.51px;
  transform: translateY(200px);
  transition: 0.25s;
}
#btn:hover {
  background: var(--white);
  color: var(--clr);
} */

@media screen and (max-width: 480px) {
  .navigation {
    transform: scale(0.8);
  }

  .hero h2 {
    transform: scale(0.6);
  }
}

.main {
  position: absolute;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  transform: translate(0%, 25%);
  transition: 0.4s ease-in-out;
}

.main button {
  width: 13em;
  height: 3.5em;
  border: none;
  display: flex;
  align-items: center;
  background-color: #171717;
  border-radius: 15px;
  padding-left: 1.15em;
  z-index: 3;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.main .text {
  color: var(--white);
  padding-left: 0.5em;
  padding-top: 0.1em;
  letter-spacing: 0.8em;
  transition: 0.4s ease-in-out;
  z-index: 3;
  font-weight: bold;
}

.planet {
  position: relative;
  margin-left: -9.55em;
  left: 2.6em;
  scale: 4;
  transition: 0.4s ease-in-out;
}

.img {
  margin-left: -7.25em;
  margin-top: 6.3em;
  transition: 0.4s ease-in-out;
  z-index: -2;
}

.img .stars {
  margin-right: -0.8em;
  margin-top: 7em;
  scale: 0.85;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.img .astronaut {
  position: relative;
  top: -6.2em;
  left: 0.65em;
}

.satalite {
  position: relative;
  left: -1em;
  top: -3em;
  animation: 4s around infinite;
  transition: 0.4s ease-in-out;
}

@keyframes around {
  0% {
    z-index: 5;
    transform: translateY(-3.5em) translateX(8.5em);
  }

  50% {
    transform: translateX(1em) translateY(3.5em);
  }

  100% {
    transform: translateY(-3.5em) translateX(8.5em);
    z-index: -2;
  }
}

.main button:hover .img {
  margin-top: -1em;
  z-index: 4;
}

.main button:hover .text {
  opacity: 0;
}

.main button:hover .planet {
  opacity: 0;
}

.main button:hover + .satalite {
  opacity: 0;
}

.main button:active {
  transform: scale(1.05);
  /* box-shadow: 0 0 10px yellow; */
  filter: drop-shadow(0 0 5px rgb(255, 255, 139));
  transition: 0.05s ease-in-out;
}

.main button:active .stars {
  opacity: 1;
  transition: 0.05s ease-in-out;
}
